In [27]:
import pandas as pd
from pathlib import Path

In [28]:
bucket_data_path = Path('../PyBank/budget_data.csv')
bucket_data = pd.read_csv(bucket_data_path)
bucket_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [29]:
# The total number of months included in the dataset
total_months = len(bucket_data['Date'])
print(total_months)

86

In [30]:
# The net total amount of Profit/Losses over the entire period
net_profit = bucket_data['Profit/Losses'].sum()
print(net_profit)

38382578

In [56]:
# The average of the changes in Profit/Losses over the entire period
bucket_data['shifted_column'] = bucket_data['Profit/Losses'].shift(1)
bucket_data['difference'] = bucket_data['Profit/Losses'] - bucket_data['shifted_column']
average_change = round(bucket_data['difference'].mean(),2)
print(average_change)

-2315.12

In [47]:
# The greatest increase in profits (date and amount) over the entire period
max_profit_row = bucket_data.iloc[bucket_data.difference.argmax(), :]
print(max_profit_row['Date'])
print(max_profit_row['difference'])

Feb-2012
1926159.0

In [48]:
# The greatest decrease in losses (date and amount) over the entire period
min_profit_row = bucket_data.iloc[bucket_data.difference.argmin(), :]
print(min_profit_row['Date'])
print(min_profit_row['difference'])

Sep-2013
-2196167.0

In [58]:
# Set the output file path
output_path = Path("output.txt")

# Open the output_path as a file object in "write" mode ('w')
# Write a header line and write the contents of 'text' to the file
with open(output_path, 'w') as file:
    file.write("Financial Analysis\n")
    file.write("----------------------------\n")
    file.write(f"Total Months: {total_months}\n")
    file.write(f"Total: ${net_profit}\n")
    file.write(f"Average Change: ${average_change}\n")
    file.write(f"Greatest Increase in Profits: {max_profit_row['Date']} (${int(max_profit_row['difference'])})\n")
    file.write(f"Greatest Decrease in Profits: {min_profit_row['Date']} (${int(min_profit_row['difference'])})\n")

In [63]:
# print the contents of the file to the terminal
filepath = Path("../PyBank/output.txt")

with open(filepath, 'r') as file:
    text = file.read()
    print(text)

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)